* {
    box-sizing: border-box;
}

header {

/*     background-position: center; */
    margin-top: 0;
 
}

main h2{
    margin: 100px;
    margin-top: 180px;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}



.productRow {
    display: flex;
    justify-content: center;
    text-align: center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }



article img {
    width: 300px;
    height: 300px;
    border: 0.5px black solid;
}

article a {
    text-decoration: none;
    color: rgb(148, 72, 21);
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

article figure {
    margin: 10px;


}


#backTop a {
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(148, 72, 21);
}